.root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: white;
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    
}

.input {
    margin: 0.5rem 0;
}
